{% extends 'registration/base.html' %}
{% block title %}Password Reset Done{% endblock %}
{% block content %}
<div style="color:green;padding:150px;margin:auto" class="container">
<p>
We've emailed you instructions for setting your password, if an account exists with the email you entered.
You should receive them shortly.
</p>
<p>
If you don't receive an email, please make sure you've entered the address you registered with,
and check your <b>spam</b> folder.
</p>
</div>
<!-- FOOTER -->
<footer class="container mt-3">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>© 2017-2021 RHYTECH · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer>
{% endblock %}