{% extends 'base.html' %}
{% block title %}
Websites
{% endblock title %}
{% block dr  %}
active
{% endblock dr  %}
{% block web  %}
active
{% endblock web  %}
{% block body %}
<style type="text/css">
    @import url('https://themes.googleusercontent.com/fonts/css?kit=Nb5s6DQ5nFDvuqQdrcz0eTvDJv_xEUHVzWCb0ZQDJQQ');

    .lst-kix_v7oewoc3815r-2>li:before {
        content: ""counter(lst-ctn-kix_v7oewoc3815r-2, lower-roman) ". "
    }

    ol.lst-kix_v7oewoc3815r-5.start {
        counter-reset: lst-ctn-kix_v7oewoc3815r-5 0
    }

    ol.lst-kix_fdhp2ocbjn4z-7.start {
        counter-reset: lst-ctn-kix_fdhp2ocbjn4z-7 0
    }

    .lst-kix_v7oewoc3815r-1>li:before {
        content: ""counter(lst-ctn-kix_v7oewoc3815r-1, lower-latin) ". "
    }

    .lst-kix_v7oewoc3815r-3>li:before {
        content: ""counter(lst-ctn-kix_v7oewoc3815r-3, decimal) ". "
    }

    .lst-kix_v7oewoc3815r-0>li:before {
        content: ""counter(lst-ctn-kix_v7oewoc3815r-0, decimal) ". "
    }

    .lst-kix_v7oewoc3815r-4>li:before {
        content: ""counter(lst-ctn-kix_v7oewoc3815r-4, lower-latin) ". "
    }

    ul.lst-kix_8it3wflw4984-8 {
        list-style-type: none
    }

    ul.lst-kix_8it3wflw4984-6 {
        list-style-type: none
    }

    ul.lst-kix_8it3wflw4984-7 {
        list-style-type: none
    }

    .lst-kix_vvcx16x6sq6o-3>li {
        counter-increment: lst-ctn-kix_vvcx16x6sq6o-3
    }

    ol.lst-kix_v7oewoc3815r-2.start {
        counter-reset: lst-ctn-kix_v7oewoc3815r-2 0
    }

    .lst-kix_fdhp2ocbjn4z-8>li {
        counter-increment: lst-ctn-kix_fdhp2ocbjn4z-8
    }

    .lst-kix_vvcx16x6sq6o-2>li {
        counter-increment: lst-ctn-kix_vvcx16x6sq6o-2
    }

    .lst-kix_v7oewoc3815r-8>li:before {
        content: ""counter(lst-ctn-kix_v7oewoc3815r-8, lower-roman) ". "
    }

    .lst-kix_v7oewoc3815r-6>li:before {
        content: ""counter(lst-ctn-kix_v7oewoc3815r-6, decimal) ". "
    }

    ul.lst-kix_8it3wflw4984-4 {
        list-style-type: none
    }

    ol.lst-kix_6b9mu2yt51xk-1.start {
        counter-reset: lst-ctn-kix_6b9mu2yt51xk-1 0
    }

    ul.lst-kix_8it3wflw4984-5 {
        list-style-type: none
    }

    .lst-kix_v7oewoc3815r-5>li:before {
        content: ""counter(lst-ctn-kix_v7oewoc3815r-5, lower-roman) ". "
    }

    .lst-kix_v7oewoc3815r-7>li:before {
        content: ""counter(lst-ctn-kix_v7oewoc3815r-7, lower-latin) ". "
    }

    ul.lst-kix_8it3wflw4984-2 {
        list-style-type: none
    }

    ul.lst-kix_8it3wflw4984-3 {
        list-style-type: none
    }

    ul.lst-kix_8it3wflw4984-0 {
        list-style-type: none
    }

    ul.lst-kix_8it3wflw4984-1 {
        list-style-type: none
    }

    ol.lst-kix_vvcx16x6sq6o-7.start {
        counter-reset: lst-ctn-kix_vvcx16x6sq6o-7 0
    }

    ol.lst-kix_vvcx16x6sq6o-2.start {
        counter-reset: lst-ctn-kix_vvcx16x6sq6o-2 0
    }

    .lst-kix_v7oewoc3815r-0>li {
        counter-increment: lst-ctn-kix_v7oewoc3815r-0
    }

    .lst-kix_6b9mu2yt51xk-8>li {
        counter-increment: lst-ctn-kix_6b9mu2yt51xk-8
    }

    .lst-kix_vvcx16x6sq6o-4>li {
        counter-increment: lst-ctn-kix_vvcx16x6sq6o-4
    }

    ol.lst-kix_vvcx16x6sq6o-4.start {
        counter-reset: lst-ctn-kix_vvcx16x6sq6o-4 0
    }

    .lst-kix_vvcx16x6sq6o-1>li {
        counter-increment: lst-ctn-kix_vvcx16x6sq6o-1
    }

    ol.lst-kix_fdhp2ocbjn4z-2.start {
        counter-reset: lst-ctn-kix_fdhp2ocbjn4z-2 0
    }

    .lst-kix_6b9mu2yt51xk-0>li {
        counter-increment: lst-ctn-kix_6b9mu2yt51xk-0
    }

    .lst-kix_fdhp2ocbjn4z-0>li {
        counter-increment: lst-ctn-kix_fdhp2ocbjn4z-0
    }

    ol.lst-kix_vvcx16x6sq6o-8 {
        list-style-type: none
    }

    ol.lst-kix_vvcx16x6sq6o-8.start {
        counter-reset: lst-ctn-kix_vvcx16x6sq6o-8 0
    }

    .lst-kix_mlmmlk68yojn-8>li:before {
        content: "\0025a0  "
    }

    .lst-kix_mlmmlk68yojn-5>li:before {
        content: "\0025a0  "
    }

    ol.lst-kix_v7oewoc3815r-8 {
        list-style-type: none
    }

    ol.lst-kix_v7oewoc3815r-0.start {
        counter-reset: lst-ctn-kix_v7oewoc3815r-0 0
    }

    ol.lst-kix_v7oewoc3815r-6 {
        list-style-type: none
    }

    .lst-kix_6b9mu2yt51xk-6>li {
        counter-increment: lst-ctn-kix_6b9mu2yt51xk-6
    }

    .lst-kix_mlmmlk68yojn-4>li:before {
        content: "\0025cb  "
    }

    ol.lst-kix_v7oewoc3815r-7 {
        list-style-type: none
    }

    ol.lst-kix_v7oewoc3815r-4 {
        list-style-type: none
    }

    .lst-kix_fdhp2ocbjn4z-6>li {
        counter-increment: lst-ctn-kix_fdhp2ocbjn4z-6
    }

    .lst-kix_v7oewoc3815r-2>li {
        counter-increment: lst-ctn-kix_v7oewoc3815r-2
    }

    ol.lst-kix_v7oewoc3815r-5 {
        list-style-type: none
    }

    ol.lst-kix_v7oewoc3815r-2 {
        list-style-type: none
    }

    .lst-kix_mlmmlk68yojn-3>li:before {
        content: "\0025cf  "
    }

    ol.lst-kix_v7oewoc3815r-3 {
        list-style-type: none
    }

    ol.lst-kix_v7oewoc3815r-0 {
        list-style-type: none
    }

    .lst-kix_v7oewoc3815r-8>li {
        counter-increment: lst-ctn-kix_v7oewoc3815r-8
    }

    ol.lst-kix_v7oewoc3815r-1 {
        list-style-type: none
    }

    .lst-kix_vvcx16x6sq6o-5>li {
        counter-increment: lst-ctn-kix_vvcx16x6sq6o-5
    }

    ol.lst-kix_6b9mu2yt51xk-6.start {
        counter-reset: lst-ctn-kix_6b9mu2yt51xk-6 0
    }

    ol.lst-kix_vvcx16x6sq6o-0 {
        list-style-type: none
    }

    ol.lst-kix_vvcx16x6sq6o-1 {
        list-style-type: none
    }

    ol.lst-kix_v7oewoc3815r-7.start {
        counter-reset: lst-ctn-kix_v7oewoc3815r-7 0
    }

    ol.lst-kix_vvcx16x6sq6o-2 {
        list-style-type: none
    }

    .lst-kix_mlmmlk68yojn-6>li:before {
        content: "\0025cf  "
    }

    ol.lst-kix_vvcx16x6sq6o-3 {
        list-style-type: none
    }

    .lst-kix_6b9mu2yt51xk-5>li {
        counter-increment: lst-ctn-kix_6b9mu2yt51xk-5
    }

    ol.lst-kix_vvcx16x6sq6o-4 {
        list-style-type: none
    }

    .lst-kix_fdhp2ocbjn4z-5>li {
        counter-increment: lst-ctn-kix_fdhp2ocbjn4z-5
    }

    ol.lst-kix_vvcx16x6sq6o-5 {
        list-style-type: none
    }

    ol.lst-kix_vvcx16x6sq6o-6 {
        list-style-type: none
    }

    .lst-kix_mlmmlk68yojn-7>li:before {
        content: "\0025cb  "
    }

    ol.lst-kix_vvcx16x6sq6o-7 {
        list-style-type: none
    }

    ol.lst-kix_6b9mu2yt51xk-8 {
        list-style-type: none
    }

    ol.lst-kix_fdhp2ocbjn4z-1.start {
        counter-reset: lst-ctn-kix_fdhp2ocbjn4z-1 0
    }

    .lst-kix_6b9mu2yt51xk-2>li {
        counter-increment: lst-ctn-kix_6b9mu2yt51xk-2
    }

    ol.lst-kix_6b9mu2yt51xk-0 {
        list-style-type: none
    }

    ol.lst-kix_6b9mu2yt51xk-1 {
        list-style-type: none
    }

    ol.lst-kix_6b9mu2yt51xk-7.start {
        counter-reset: lst-ctn-kix_6b9mu2yt51xk-7 0
    }

    ol.lst-kix_6b9mu2yt51xk-2 {
        list-style-type: none
    }

    ol.lst-kix_6b9mu2yt51xk-3 {
        list-style-type: none
    }

    ol.lst-kix_6b9mu2yt51xk-4 {
        list-style-type: none
    }

    ol.lst-kix_v7oewoc3815r-1.start {
        counter-reset: lst-ctn-kix_v7oewoc3815r-1 0
    }

    ol.lst-kix_6b9mu2yt51xk-5 {
        list-style-type: none
    }

    ol.lst-kix_6b9mu2yt51xk-6 {
        list-style-type: none
    }

    ol.lst-kix_6b9mu2yt51xk-7 {
        list-style-type: none
    }

    ol.lst-kix_6b9mu2yt51xk-0.start {
        counter-reset: lst-ctn-kix_6b9mu2yt51xk-0 0
    }

    ol.lst-kix_v7oewoc3815r-8.start {
        counter-reset: lst-ctn-kix_v7oewoc3815r-8 0
    }

    ol.lst-kix_vvcx16x6sq6o-3.start {
        counter-reset: lst-ctn-kix_vvcx16x6sq6o-3 0
    }

    .lst-kix_8it3wflw4984-5>li:before {
        content: "\0025a0  "
    }

    .lst-kix_fdhp2ocbjn4z-0>li:before {
        content: ""counter(lst-ctn-kix_fdhp2ocbjn4z-0, decimal) ". "
    }

    .lst-kix_8it3wflw4984-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_8it3wflw4984-6>li:before {
        content: "\0025cf  "
    }

    ol.lst-kix_6b9mu2yt51xk-8.start {
        counter-reset: lst-ctn-kix_6b9mu2yt51xk-8 0
    }

    .lst-kix_8it3wflw4984-3>li:before {
        content: "\0025cf  "
    }

    .lst-kix_8it3wflw4984-7>li:before {
        content: "\0025cb  "
    }

    .lst-kix_fdhp2ocbjn4z-3>li {
        counter-increment: lst-ctn-kix_fdhp2ocbjn4z-3
    }

    .lst-kix_6b9mu2yt51xk-3>li {
        counter-increment: lst-ctn-kix_6b9mu2yt51xk-3
    }

    .lst-kix_8it3wflw4984-1>li:before {
        content: "\0025cb  "
    }

    .lst-kix_fdhp2ocbjn4z-4>li:before {
        content: ""counter(lst-ctn-kix_fdhp2ocbjn4z-4, lower-latin) ". "
    }

    .lst-kix_8it3wflw4984-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_8it3wflw4984-2>li:before {
        content: "\0025a0  "
    }

    .lst-kix_8it3wflw4984-8>li:before {
        content: "\0025a0  "
    }

    ol.lst-kix_fdhp2ocbjn4z-0.start {
        counter-reset: lst-ctn-kix_fdhp2ocbjn4z-0 0
    }

    .lst-kix_fdhp2ocbjn4z-5>li:before {
        content: ""counter(lst-ctn-kix_fdhp2ocbjn4z-5, lower-roman) ". "
    }

    .lst-kix_v7oewoc3815r-5>li {
        counter-increment: lst-ctn-kix_v7oewoc3815r-5
    }

    .lst-kix_fdhp2ocbjn4z-6>li:before {
        content: ""counter(lst-ctn-kix_fdhp2ocbjn4z-6, decimal) ". "
    }

    .lst-kix_fdhp2ocbjn4z-8>li:before {
        content: ""counter(lst-ctn-kix_fdhp2ocbjn4z-8, lower-roman) ". "
    }

    ol.lst-kix_fdhp2ocbjn4z-3.start {
        counter-reset: lst-ctn-kix_fdhp2ocbjn4z-3 0
    }

    .lst-kix_vvcx16x6sq6o-8>li {
        counter-increment: lst-ctn-kix_vvcx16x6sq6o-8
    }

    .lst-kix_fdhp2ocbjn4z-7>li:before {
        content: ""counter(lst-ctn-kix_fdhp2ocbjn4z-7, lower-latin) ". "
    }

    .lst-kix_v7oewoc3815r-4>li {
        counter-increment: lst-ctn-kix_v7oewoc3815r-4
    }

    .lst-kix_fdhp2ocbjn4z-2>li {
        counter-increment: lst-ctn-kix_fdhp2ocbjn4z-2
    }

    ol.lst-kix_fdhp2ocbjn4z-4 {
        list-style-type: none
    }

    .lst-kix_6b9mu2yt51xk-8>li:before {
        content: ""counter(lst-ctn-kix_6b9mu2yt51xk-8, lower-roman) ". "
    }

    ol.lst-kix_fdhp2ocbjn4z-3 {
        list-style-type: none
    }

    ol.lst-kix_fdhp2ocbjn4z-6 {
        list-style-type: none
    }

    .lst-kix_6b9mu2yt51xk-7>li:before {
        content: ""counter(lst-ctn-kix_6b9mu2yt51xk-7, lower-latin) ". "
    }

    .lst-kix_vvcx16x6sq6o-7>li {
        counter-increment: lst-ctn-kix_vvcx16x6sq6o-7
    }

    ol.lst-kix_fdhp2ocbjn4z-5 {
        list-style-type: none
    }

    ol.lst-kix_fdhp2ocbjn4z-8 {
        list-style-type: none
    }

    .lst-kix_6b9mu2yt51xk-6>li:before {
        content: ""counter(lst-ctn-kix_6b9mu2yt51xk-6, decimal) ". "
    }

    ol.lst-kix_fdhp2ocbjn4z-6.start {
        counter-reset: lst-ctn-kix_fdhp2ocbjn4z-6 0
    }

    ol.lst-kix_fdhp2ocbjn4z-7 {
        list-style-type: none
    }

    .lst-kix_v7oewoc3815r-3>li {
        counter-increment: lst-ctn-kix_v7oewoc3815r-3
    }

    ol.lst-kix_v7oewoc3815r-6.start {
        counter-reset: lst-ctn-kix_v7oewoc3815r-6 0
    }

    ol.lst-kix_6b9mu2yt51xk-2.start {
        counter-reset: lst-ctn-kix_6b9mu2yt51xk-2 0
    }

    ol.lst-kix_fdhp2ocbjn4z-8.start {
        counter-reset: lst-ctn-kix_fdhp2ocbjn4z-8 0
    }

    .lst-kix_6b9mu2yt51xk-4>li:before {
        content: ""counter(lst-ctn-kix_6b9mu2yt51xk-4, lower-latin) ". "
    }

    .lst-kix_6b9mu2yt51xk-3>li:before {
        content: ""counter(lst-ctn-kix_6b9mu2yt51xk-3, decimal) ". "
    }

    .lst-kix_6b9mu2yt51xk-5>li:before {
        content: ""counter(lst-ctn-kix_6b9mu2yt51xk-5, lower-roman) ". "
    }

    ol.lst-kix_fdhp2ocbjn4z-0 {
        list-style-type: none
    }

    ol.lst-kix_fdhp2ocbjn4z-2 {
        list-style-type: none
    }

    ol.lst-kix_fdhp2ocbjn4z-1 {
        list-style-type: none
    }

    .lst-kix_6b9mu2yt51xk-0>li:before {
        content: ""counter(lst-ctn-kix_6b9mu2yt51xk-0, decimal) ". "
    }

    .lst-kix_6b9mu2yt51xk-1>li:before {
        content: ""counter(lst-ctn-kix_6b9mu2yt51xk-1, lower-latin) ". "
    }

    .lst-kix_mlmmlk68yojn-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_mlmmlk68yojn-2>li:before {
        content: "\0025a0  "
    }

    ul.lst-kix_mlmmlk68yojn-7 {
        list-style-type: none
    }

    .lst-kix_6b9mu2yt51xk-2>li:before {
        content: ""counter(lst-ctn-kix_6b9mu2yt51xk-2, lower-roman) ". "
    }

    ul.lst-kix_mlmmlk68yojn-8 {
        list-style-type: none
    }

    .lst-kix_mlmmlk68yojn-1>li:before {
        content: "\0025cb  "
    }

    .lst-kix_fdhp2ocbjn4z-3>li:before {
        content: ""counter(lst-ctn-kix_fdhp2ocbjn4z-3, decimal) ". "
    }

    .lst-kix_fdhp2ocbjn4z-2>li:before {
        content: ""counter(lst-ctn-kix_fdhp2ocbjn4z-2, lower-roman) ". "
    }

    .lst-kix_fdhp2ocbjn4z-1>li:before {
        content: ""counter(lst-ctn-kix_fdhp2ocbjn4z-1, lower-latin) ". "
    }

    ol.lst-kix_6b9mu2yt51xk-5.start {
        counter-reset: lst-ctn-kix_6b9mu2yt51xk-5 0
    }

    .lst-kix_v7oewoc3815r-6>li {
        counter-increment: lst-ctn-kix_v7oewoc3815r-6
    }

    ol.lst-kix_v7oewoc3815r-3.start {
        counter-reset: lst-ctn-kix_v7oewoc3815r-3 0
    }

    .lst-kix_vvcx16x6sq6o-0>li:before {
        content: ""counter(lst-ctn-kix_vvcx16x6sq6o-0, decimal) ". "
    }

    .lst-kix_vvcx16x6sq6o-2>li:before {
        content: ""counter(lst-ctn-kix_vvcx16x6sq6o-2, lower-roman) ". "
    }

    .lst-kix_vvcx16x6sq6o-0>li {
        counter-increment: lst-ctn-kix_vvcx16x6sq6o-0
    }

    ol.lst-kix_vvcx16x6sq6o-1.start {
        counter-reset: lst-ctn-kix_vvcx16x6sq6o-1 0
    }

    .lst-kix_vvcx16x6sq6o-3>li:before {
        content: ""counter(lst-ctn-kix_vvcx16x6sq6o-3, decimal) ". "
    }

    ul.lst-kix_mlmmlk68yojn-3 {
        list-style-type: none
    }

    .lst-kix_vvcx16x6sq6o-6>li {
        counter-increment: lst-ctn-kix_vvcx16x6sq6o-6
    }

    ul.lst-kix_mlmmlk68yojn-4 {
        list-style-type: none
    }

    ol.lst-kix_fdhp2ocbjn4z-5.start {
        counter-reset: lst-ctn-kix_fdhp2ocbjn4z-5 0
    }

    ul.lst-kix_mlmmlk68yojn-5 {
        list-style-type: none
    }

    .lst-kix_v7oewoc3815r-7>li {
        counter-increment: lst-ctn-kix_v7oewoc3815r-7
    }

    ul.lst-kix_mlmmlk68yojn-6 {
        list-style-type: none
    }

    .lst-kix_vvcx16x6sq6o-4>li:before {
        content: ""counter(lst-ctn-kix_vvcx16x6sq6o-4, lower-latin) ". "
    }

    .lst-kix_vvcx16x6sq6o-6>li:before {
        content: ""counter(lst-ctn-kix_vvcx16x6sq6o-6, decimal) ". "
    }

    .lst-kix_6b9mu2yt51xk-1>li {
        counter-increment: lst-ctn-kix_6b9mu2yt51xk-1
    }

    ul.lst-kix_mlmmlk68yojn-0 {
        list-style-type: none
    }

    ul.lst-kix_mlmmlk68yojn-1 {
        list-style-type: none
    }

    ol.lst-kix_6b9mu2yt51xk-3.start {
        counter-reset: lst-ctn-kix_6b9mu2yt51xk-3 0
    }

    ul.lst-kix_mlmmlk68yojn-2 {
        list-style-type: none
    }

    .lst-kix_vvcx16x6sq6o-5>li:before {
        content: ""counter(lst-ctn-kix_vvcx16x6sq6o-5, lower-roman) ". "
    }

    ol.lst-kix_vvcx16x6sq6o-5.start {
        counter-reset: lst-ctn-kix_vvcx16x6sq6o-5 0
    }

    .lst-kix_vvcx16x6sq6o-8>li:before {
        content: ""counter(lst-ctn-kix_vvcx16x6sq6o-8, lower-roman) ". "
    }

    .lst-kix_vvcx16x6sq6o-7>li:before {
        content: ""counter(lst-ctn-kix_vvcx16x6sq6o-7, lower-latin) ". "
    }

    .lst-kix_v7oewoc3815r-1>li {
        counter-increment: lst-ctn-kix_v7oewoc3815r-1
    }

    ol.lst-kix_v7oewoc3815r-4.start {
        counter-reset: lst-ctn-kix_v7oewoc3815r-4 0
    }

    ol.lst-kix_6b9mu2yt51xk-4.start {
        counter-reset: lst-ctn-kix_6b9mu2yt51xk-4 0
    }

    .lst-kix_fdhp2ocbjn4z-4>li {
        counter-increment: lst-ctn-kix_fdhp2ocbjn4z-4
    }

    .lst-kix_fdhp2ocbjn4z-1>li {
        counter-increment: lst-ctn-kix_fdhp2ocbjn4z-1
    }

    ol.lst-kix_vvcx16x6sq6o-0.start {
        counter-reset: lst-ctn-kix_vvcx16x6sq6o-0 0
    }

    .lst-kix_6b9mu2yt51xk-7>li {
        counter-increment: lst-ctn-kix_6b9mu2yt51xk-7
    }

    .lst-kix_6b9mu2yt51xk-4>li {
        counter-increment: lst-ctn-kix_6b9mu2yt51xk-4
    }

    ol.lst-kix_fdhp2ocbjn4z-4.start {
        counter-reset: lst-ctn-kix_fdhp2ocbjn4z-4 0
    }

    ol.lst-kix_vvcx16x6sq6o-6.start {
        counter-reset: lst-ctn-kix_vvcx16x6sq6o-6 0
    }

    .lst-kix_fdhp2ocbjn4z-7>li {
        counter-increment: lst-ctn-kix_fdhp2ocbjn4z-7
    }

    .lst-kix_vvcx16x6sq6o-1>li:before {
        content: ""counter(lst-ctn-kix_vvcx16x6sq6o-1, lower-latin) ". "
    }

    ol {
        margin: 0;
        padding: 0
    }

    table td,
    table th {
        padding: 0
    }

    .c16 {
        color: #cc0000;
        font-weight: 500;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 36pt;
        font-family: "Roboto";
        font-style: normal
    }

    .c4 {
        -webkit-text-decoration-skip: none;
        color: #1155cc;
        font-weight: 400;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        font-size: 18pt;
        font-family: "Caveat"
    }

    .c24 {
        color: #073763;
        font-weight: 500;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 16pt;
        font-family: "Roboto";
        font-style: normal
    }

    .c22 {
        color: #cc0000;
        font-weight: 500;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 24pt;
        font-family: "Roboto";
        font-style: normal
    }

    .c14 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Caveat";
        font-style: normal
    }

    .c18 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c3 {
        color: #ff0000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 18pt;
        font-family: "Caveat";
        font-style: normal
    }

    .c25 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 12pt;
        font-family: "Caveat";
        font-style: normal
    }

    .c1 {
        color: #073763;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 18pt;
        font-family: "Caveat";
        font-style: normal
    }

    .c20 {
        color: #ff0000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 14pt;
        font-family: "Caveat";
        font-style: normal
    }

    .c10 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c0 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.5;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c17 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.5;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c12 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c27 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.5;
        orphans: 2;
        widows: 2;
        text-align: center
    }

    .c26 {
        font-size: 36pt;
        font-family: "Caveat";
        color: #cc0000;
        font-weight: 400
    }

    .c23 {
        font-size: 14pt;
        font-family: "Caveat";
        color: #ff0000;
        font-weight: 400
    }

    .c13 {
        font-size: 18pt;
        font-family: "Caveat";
        color: #ff0000;
        font-weight: 400
    }

    .c6 {
        background-color: #ffffff;
        -webkit-text-decoration-skip: none;
        text-decoration: underline;
        text-decoration-skip-ink: none
    }

    .c5 {
        font-size: 18pt;
        font-family: "Caveat";
        color: #073763;
        font-weight: 400
    }

    .c19 {
        -webkit-text-decoration-skip: none;
        text-decoration: underline;
        text-decoration-skip-ink: none
    }

    .c9 {
        background-color: #ffffff;
        font-size: 12pt;
        color: #222222
    }

    .c15 {
        max-width: 451.4pt;
        padding: 72pt 72pt 72pt 72pt
    }

    .c8 {
        color: inherit;
        text-decoration: inherit
    }

    .c11 {
        background-color: #ffffff
    }

    .c2 {
        height: 11pt
    }

    .c21 {
        margin-left: 36pt
    }

    .c7 {
        text-indent: 36pt
    }

    .title {
        padding-top: 0pt;
        color: #000000;
        font-size: 26pt;
        padding-bottom: 3pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .subtitle {
        padding-top: 0pt;
        color: #666666;
        font-size: 15pt;
        padding-bottom: 16pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    li {
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    p {
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    h1 {
        padding-top: 20pt;
        color: #000000;
        font-size: 20pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h2 {
        padding-top: 18pt;
        color: #000000;
        font-size: 16pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h3 {
        padding-top: 16pt;
        color: #434343;
        font-size: 14pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h4 {
        padding-top: 14pt;
        color: #666666;
        font-size: 12pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h5 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h6 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left
    }
</style>
{% if messages %}
<div class="messages container mt-0 alert alert-success alert-dismissible fade show" role="alert">
    {% for message in messages %}
    <strong class="text-center">{{ message }}{{ user.username }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {% endfor %}
</div>
{% endif %}
<div style="margin:auto;padding:auto;max-width: 100%" class="container">
    <p class="c27"><span class="c26">Websites</span></p>
    <p class="c2 c17"><span class="c25"></span></p>
    <p class="c0"><span class="c1">Full Stack Web Development is the main skill I have learnt so far.</span></p>
    <p class="c0"><span class="c1">I have developed two websites including this one, one pretty secure authentication
            web app as a prototype and I am currently working on a travel agency website project with my team.</span>
    </p>
    <p class="c0"><span class="c1">These websites are developed, deployed and maintained by me.</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c3">Just take an overview of the websites:</span></p>
    <p class="c0"><span class="c5">1. </span><span class="c5 c19">Pest Control Company Website</span><span
            class="c1">&nbsp;:</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c1">This is the first website I created using a website builder WiX.The website is
            currently being used by GPM Pest Management, formerly Grotec Pest Management operating its services in
            Punjab,India. It is an informative and an interactive website.</span></p>
    <p class="c0 c2"><span class="c3"></span></p>
    <p class="c0"><span class="c3">Have a look at it by clicking the button below:</span></p>
    <p class="c0"><span><a class="btn btn-success" href="https://www.gpmpest.org" target="_blank">Pest
                Control</a></span>
    </p>
    <p class="c0 c2 c21"><span class="c1"></span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <iframe src="https://www.gpmpest.org/" style="border:0px #ffffff none;max-width: 100%" name="myiFrame"
        scrolling="yes" frameborder="1" marginheight="0px" marginwidth="200px" height="500px" width="760px"
        allowfullscreen></iframe>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c5">2. &nbsp;</span><span class="c5 c19">Authentication Web App</span><span
            class="c1">&nbsp;:</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c1">The web app is a kind of prototype I built while learning the Django framework.
            Although it does not have a good frontend, the backend is very secure. No user can access any content
            without login credentials.So the user needs to SignUp to get login credentials for future reference to
            content.A person can SignUp with unique username and email address only. If someone forgets his/her
            password, he/she can reset the password</span></p>
    <p class="c0"><span class="c1">by getting a link on the registered email.</span></p>
    <p class="c0 c7"><span class="c5">Further the web app uses CSRF token to prevent Cross Site request forgery attack.
        </span><span class="c5 c11">CSRF tokens can prevent CSRF attacks by making it impossible for an attacker to
            construct a fully valid HTTP request suitable for feeding to a victim user</span><span
            class="c9">.</span><span class="c1 c11">Further the web app has an SSL certificate to prevent HTTP requests
            to be intercepted.</span></p>
    <p class="c0 c2 c7"><span class="c1 c11"></span></p>
    <p class="c0"><span class="c13">Have a look at it by clicking the button below:</span></p>
    <p class="c0"><span><a class="btn btn-success" href="https://secret-escarpment-47060.herokuapp.com"
                target="_blank">Authentication Web App</a></span>
    </p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c5">I was trying to put my website in an iframe tag but was unable to do that because
        </span><span class="c5 c11">Django contains </span><span class="c5 c11"><a class="c8">clickjacking
                protection</a></span><span class="c5 c11">&nbsp;in the form of the </span><span class="c5 c11">
            <aclass="c8">X-Frame-Options middleware</a>
        </span><span class="c1 c11">&nbsp;which, in a supporting browser, can prevent a site from
            being rendered inside a frame which definitely makes the webapps more secure.</span></p>
    <p class="c0 c2"><span class="c1 c11"></span></p>
    <p class="c0"><span class="c5 c11">3. </span><span class="c6 c5">My Web Portfolio</span><span
            class="c1 c11">&nbsp;:</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c1">Having sufficient knowledge of full stack development, I decided to develop this
            portfolio website.I even used the modules of the authentication web app in my portfolio.It has a pretty good
            frontend and has a pretty strong backend to store data too.</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c3">Have a look at it by clicking the button below:</span></p>
    <p class="c0"><span><a class="btn btn-success" href="https://aqueous-brushlands-92364.herokuapp.com"
                target="_blank">My Portfolio</a></span>
    </p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c5 c11">4. </span><span class="c5 c6">Travel agency website project</span><span
            class="c1 c11">&nbsp;:</span></p>
    <p class="c0 c2"><span class="c1 c11"></span></p>
    <p class="c0"><span class="c1 c11">The project is about to be completed with only a few modules left to be
            developed. I will update here soon. </span></p>
    <p class="c0"><span class="c3">Currently, I am even doing my Capstone Project - Smart Mirror. I will update here
            soon.</span></p>
    <p class="c0 c2"><span class="c3"></span></p>
    <p class="c0"><span class="c5">You can contact me at </span><span><a class="btn btn-danger"
                href="mailto:rhytech2020@gmail.com">rhytech2020@gmail.com</a></span><span class="c5">&nbsp;for
            collaboration.</span><span class="c3">&nbsp;</span></p>
    <p class="c0 c7"><span class="c23">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
    <p class="c10"><span class="c1">- &nbsp;Rhytech</span></p>
    <p class="c10"><span class="c5">&nbsp; &nbsp;</span><span class="c13">Keeping Name Anonymous For No
            Reason</span><span class="c1">&nbsp;&#x1f601;</span></p>
    <p class="c0"><span
            class="c1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></p>
    <p class="c0"><span
            class="c1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0"><span class="c1">&nbsp;</span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c0 c2"><span class="c1"></span></p>
    <p class="c17 c2"><span class="c14"></span></p>
    <p class="c10 c2"><span class="c16"></span></p>
    <p class="c2 c12"><span class="c18"></span></p>
    <p class="c10 c2"><span class="c22"></span></p>
    <p class="c2 c10"><span class="c24"></span></p>
    <p class="c12 c2"><span class="c18"></span></p>
</div>
<!-- FOOTER -->
<footer class="container mt-3">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>© 2017-2021 RHYTECH · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>
{% endblock body %}